In [23]:
import pandas as pd

In [24]:
df = pd.read_csv("Desemprego no brasil por trimestre(1).csv", delimiter=';')
df

,Data,jan-fev-mar 2012,fev-mar-abr 2012,mar-abr-mai 2012,abr-mai-jun 2012,mai-jun-jul 2012,jun-jul-ago 2012,jul-ago-set 2012,ago-set-out 2012,set-out-nov 2012,...,mai-jun-jul 2023,jun-jul-ago 2023,jul-ago-set 2023,ago-set-out 2023,set-out-nov 2023,out-nov-dez 2023,nov-dez-jan 2024,dez-jan-fev 2024,jan-fev-mar 2024,fev-mar-abr 2024
0,Brasil,8,7.8,7.7,7.6,7.5,7.4,7.1,7,6.8,...,7.9,7.8,7.7,7.6,7.5,7.4,7.6,7.8,7.9,7.5

In [28]:
df_test = df.melt()
df_test

             variable   value
0                Data  Brasil
1    jan-fev-mar 2012       8
2    fev-mar-abr 2012     7.8
3    mar-abr-mai 2012     7.7
4    abr-mai-jun 2012     7.6
..                ...     ...
142  out-nov-dez 2023     7.4
143  nov-dez-jan 2024     7.6
144  dez-jan-fev 2024     7.8
145  jan-fev-mar 2024     7.9
146  fev-mar-abr 2024     7.5

[147 rows x 2 columns]

In [26]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147 entries, Data to fev-mar-abr 2024
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       147 non-null    object
dtypes: object(1)
memory usage: 6.4+ KB

In [27]:
df_import= df[df['Fluxo'].str.strip() == 'Importação']
df_import.to_csv("Importação-TRATADO.csv", index=False)
df_import

KeyError: 'Fluxo'