In [1]:
import pandas as pd

df = pd.read_csv("Dados/IPCA bens não-duráveis.csv", sep=";", decimal=",")
df

           data  valor
0    01/01/1992  28.12
1    01/02/1992  25.28
2    01/03/1992  22.16
3    01/04/1992  20.43
4    01/05/1992  26.10
..          ...    ...
383  01/12/2023   0.91
384  01/01/2024   1.41
385  01/02/2024   0.95
386  01/03/2024   0.41
387  01/04/2024   0.73

[388 rows x 2 columns]

In [3]:
df.to_csv("Dados Tratados/IPCA-TRATADO.csv", index=False)